body{
    background: #cccccc;
}

#banner {
    width: 100%;
    
}

h1{
    text-align: center;
    background: #cccccc;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color:#FF0000;
}

.itens {
    font-style: italic;
}

/* body{
 
}

#banner {
    width: 100%;
    background: #FFFFFF;
}

.principal {
    background: #cccccc;
    padding: 30px;
}
.titulo-principal {
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
    
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color:#FF0000;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.itens {
    font-style: italic;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
 */

