body{
    background: #cccccc;
}

#banner {
    width: 100%;
    
}

h1{
    text-align: center;
    background: #cccccc;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color:#FF0000;
}

.itens {
    font-style: italic;
}
